.heroShopDiv {
	position: absolute;
	top: 14.583vw;
}
.heroShopDiv > div {
	margin-left: 12.847vw;
}
.heroTitle {
	background-color: #fff;
	padding: 0.694vw;
	padding-left: 12.847vw;
	font-weight: 500;
	font-size: 3.125vw;
	line-height: 4.653vw;
	color: #333333;
	margin-bottom: 0.694vw;
}
.heroSubText {
	/* position: absolute; */
	font-size: 1.181vw;
	line-height: 1.736vw;
	color: #333333;
	margin-bottom: 0.694vw;
}
.btnHero {
	font-weight: 500;
	font-size: 0.972vw;
	line-height: 21px;
	color: #ffffff;
	background: #48cab2;
	padding: 0.972vw 2.986vw;
	border: 0;
	margin-top: 1.389vw;
}
